page-add-task-modal {

    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 50px;

        >*{
            margin-bottom: 30px;
        }

        .submit-button{
            width:100%;
        }
    }

}
